<table border="1">
    
    <tbody>
    <tr>
    <img src={{avatar}} alt="image">
    <td>ID : {{id}}<br>
    Email: {{email}}<br>
    Firstname: {{first_name}}<br>
    Lastname: {{last_name}}<br>
    <button type="button" class="btn" (click)="deleteEmployee(id)"> Delete</button>
    
   </td>
    </tr>
</tbody>
</table>
<button type="button" class="btn" (click)="backClicked()"><img src="https://image.flaticon.com/icons/png/512/93/93634.png" alt="image" width="20" height="20" /> </button>
            