<header>
    
    <style>
       .bs-example{
           margin: 0px;
       }
   </style>
   
   <body>
   <div class="bs-example">
       <nav class="navbar navbar-expand-md navbar-light bg-light">
           <a style="color: blue" href="/users" class="navbar-brand">Projet IHM</a>
           <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
               <span class="navbar-toggler-icon"></span>
           </button>
   
           <div class="collapse navbar-collapse" id="navbarCollapse">
               <div class="navbar-nav">
                   <a *ngIf="loginService.isUserLoggedIn() " href="/adduser" class="nav-item nav-link active">Ajouter User</a>
                   <a *ngIf="loginService.isUserLoggedIn() " href="/users" class="nav-item nav-link active">Liste Users</a>
               </div>
               <div class="navbar-nav ml-auto">
                   <a *ngIf="!loginService.isUserLoggedIn()" href="/login" class="nav-item nav-link">Login</a>
                   <a *ngIf="!loginService.isUserLoggedIn()" href="/register" class="nav-item nav-link">Register</a>
                   <a *ngIf="loginService.isUserLoggedIn()" href="/logout" class="nav-item nav-link">Logout </a>
                   
               </div>
               
           </div>
       </nav>
       
   </div>
   </body>
   
</header>